# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.ipch
*.log
*.pdb
*.tlog
*.txt
*.ilk
*.recipe
.vs/GTerm/v16/.suo
debug/qmake/temp/Makefile
*.props
*.idx
*.cbt
release/qmake/temp/Makefile
src/.vs/GTerm/v16/.suo
src/debug/qmake/temp/Makefile
src/.vs/GTerm/v16/.suo
src/release/qmake/temp/Makefile
src/.vs/GTerm/v16/.suo
*.db-shm
*.opendb
*.db-wal
src/.vs/GTerm/v16/.suo
src/.vs/GTerm/v16/.suo
src/.vs/GTerm/v16/.suo
src/.vs/GTerm/v16/.suo
src/.vs/GTerm/v16/.suo
src/.vs/GTerm/v16/.suo
